@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");


main {
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient(circle at 50% 40%, rgb(21, 6, 50) 5%, rgb(24, 4, 67) 25%, rgb(144, 22, 128));
    padding-bottom: 2rem;
}

h1 {
    color: white;
    font-size: 6rem;
}



#reset {
    font-size: small;
    height: 45px;
    width: 110px;
    border-radius: 26px;
}

.circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    flex: 100%;
    text-align: center;
    line-height: 200px;
    border: 1px solid gray;
    background-color: gray;
    /* background-image: radial-gradient(black 30%, rgb(52, 34, 34) 55%, rgb(152, 109, 109) 85%,  white);*/
    box-shadow: 0 0 27px white, 0 0 17px white, 0 0 12px blue, 0 0 7px blue;
}

.circle.even {
    background-color: rgb(232, 101, 44);
}

.circle.odd {
    background-color: rgb(144, 22, 128);
}

.button-container {
    flex: 100%;
    max-width: 80vw;
    align-content: center;
}